@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,200;1,400&display=swap');



/* Variables */
:root {
    --primary-color: #t;
    --bulleyes: #b7e0f4;
    --secondary-black: #a5747c;
    --secondary-white: #e2f3fd;
    --body-bg: #b899ac;
    --text-opacity: rgba(255, 255, 255, 0.616);
}

/* Global Styles */
* {
    font-family: 'ASAP Condensed', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

html {
    font-family: 'ASAP Condensed', monospace;
    font-size: 10px;
    /* Default font size */
    scroll-behavior: smooth;

}

body {
    background-color: var(--body-bg);
}

img {
    /* To ensure that images do not overflow */
    width: 100%;
    height: 100%;
}

a {
    color: var(--bulleyes);
    text-decoration: none;
    /* No text decorations */
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}



p {
    font-size: 1.6rem;
    color: var(--secondary-white);
}

.about-buttons {
    /* Stock Icon */
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 6.25rem;
}

.buttons {
    /* Stock Icon */
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.primary-btn {
    /* Stock Icon */
    display: inline-block;
    background-color: var(--secondary-black);
    color: var(--secondary-white);
    font-size: 1.8rem;
    /* changes the button size */
    padding: 0.6em 1.6em;
    /* em : depends on the font size of element */
    border-radius: 50px;
}

.buttons svg {
    /* Stock Icon */
    width: 50px;
    /* set width to appear for svg */
    color: var(--secondary-white);
    background-color: var(--secondary-black);
    border-radius: 3rem;
}

.section-heading {
    color: var(--bulleyes);
    font-size: clamp(2rem, 10vw, 8rem);
    /* dynamic text scaling (min, viewport width, max) */
    text-transform: uppercase;
    /* changes the font to be bolder */
    font-family: 'ASAP Condensed', monospace;
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}


.section-heading::before {
    /* Text Outline behind Heading */
    content: attr(data-outline);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'ASAP Condensed', monospace;
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.1);
    z-index: -1;
    /* hide text behind the main text */
}

.buttons .primary-btn.outline {
    background-color: transparent;
    color: var(--bulleyes);
    border-radius: 50px;
    border: 2px solid var(--bulleyes);
}

#main {
    padding-bottom: 30rem;
}
/* Blog Post Section */
.post-title {
    color: var(--primary-color);
    font-size: 2.25rem;
    font-family: 'ASAP Condensed', monospace;
}

.read-more {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 2rem;
    margin-left: 90%;
    display: flex;
    flex-wrap: wrap;
}

.read-more:hover{
    color: var(--secondary-black);
}


.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between posts */
}

.blog-post {
    text-indent: 20px;
    background-color: #b7e0f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    /* Adjust width of each post (flex-basis) as needed */
    /* Minimum width: flex: 1 1 250px; */
    /* Maximum width: flex: 1 1 350px; */
}

.post-content {
    padding: 2rem 2rem 2rem 2rem 0;
    padding-top: 2rem;
}

.post-paragraph {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--primary-color);
}

/* Date */ 
.post-meta {
    text-align: right;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'ASAP Condensed', monospace;
}


/* Footer Section */

#footer {
    background-color: var(--secondary-black);
    color: var(--bulleyes);
    padding: 10rem 0 5rem 0;
}

#footer footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

#footer footer .column-1 {
        flex: 3;
}

#footer footer .column-heading { 
    text-align: center;
    
}

#footer footer .column-2,
#footer footer .column-3,
#footer footer .column-4 {
    flex: 2;
    text-align: center;
}

#footer footer .column-4 {
    flex: 1;
}

#footer footer .column-1 .logo img {
    max-width: 100px;
    margin-bottom: 2rem;
}

#footer .logo {
    /* Aligns the Github Logo to the Middle */
    justify-content: center;
    text-align: center;
}


#footer footer .column-1 p {
    color: var(--secondary-white);
}

#footer footer .column-heading {
    font-family: 'ASAP Condensed', monospace;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.5em;
}

#footer footer ul {
    list-style: none;
}

#footer footer ul li {
    border-radius: 4px;
}

#footer footer ul li:hover a {
    color: var(--primary-color);
}

#footer footer ul li:hover {
    background-color: var(--bulleyes);

}

#footer footer ul li a {
    display: inline-block;
    width: auto;
    color: var(--secondary-white);
    font-size: 1.7rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem;
}

#footer footer .column-4 ul {
    display: flex;
    flex-wrap: wrap;
}

#footer footer .column-4 ul li a {
    min-width: 50px;
}

@media only screen and (max-width:768px) {
    #footer footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footer footer.column-1,
    #footer footer.column-2,
    #footer footer.column-3,
    #footer footer.column-4 {
        width: 100%;
        margin-bottom: 3rem;
    }

    #footer footer .column-4 ul {
        width: fit-content;
        margin: 0 auto;
    }
}

/* Copyright Styling */

#copyright {
    padding: 1rem 0;
    background-color: var(--secondary-black);
}

#copyright p {
    text-align: center;
    color: var(--secondary-white);
    margin: 1rem;
    font-size: 1.4rem;
}

@media only screen and (max-width:768px) {
    #copyright p {
        text-align: center;
    }
}