/* Utilities - classes that we will use all around the website */

/*scope, or range*/ :root /*custom properties/universal variables declare around the website*/
{ 
    --primary-color: palegreen;
    --secondary-color: rgb(255,78,78);
    --dark-color: palegreen;
    --light-color: white;
}


.container { /* declares container properties */
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    
}

.card { 
    background-color: var(--primary-color); /* changes background of card color */
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(rgba(0, 0, 0, 0.445)); /* x, y, blur, color */ 
    padding: 20px;
    margin: 10px; 
}

.flex { /* flexbox modifiers */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.grid { /* grid modifiers */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*repeat() to repeat 1fr 1fr*/
    gap: 20px; /*grid gap*/
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.grid-3 { /* grid-3 modifiers */
    grid-template-columns:repeat(3, 1fr);
}


/* Stock Buttons */

.btn { /* stock button styling */
    display: inline-block; /* applies to buttons & links */
    padding: 10px 30px;
    cursor: pointer;
    background: rgb(255, 78, 78);
    color: black;
    border: none;
    border-radius: 5px;

}

.btn-outline { /* button with an outline */
    background-color: transparent;
    border: 1px black solid;
}

.btn:hover { /* button hover animation */
    transform: scale(0.98)
}

/* Background & Colored Buttons */

.bg-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: black;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: black;
}

.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: rgb(0, 0, 0);
}

.bg-light,
.btn-light {
    background-color: var(--light-color);
    color: black;
}


/* Text Sizes */

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

.text-centercoloredbar {
    background: var(--primary-color);
    text-align: center;
    margin: 0;
}

/* Margins */ /*added  my-2bg py-2bg 1/28/2022 */

.my-1 { /* spaces the margin */
    margin: 1rem 0; /* rem = css unit that multiplier of root element font size; default 16 px = 1 rem*/ 
}
.my-2 {
    margin: 1.5rem 0;

}
.my-3 {
    margin: 2rem 0;
}
.my-4 {
    margin: 3rem 0;
}
.my-5 {
    margin: 4rem 0;
}



.m-1 { /* spaces the margin */
    margin: 1rem 0; /* rem = css unit that multiplier of root element font size; default 16 px = 1 rem*/ 
}
.m-2 {
    margin: 1.5rem;
}
.m-3 {
    margin: 2rem;
}
.m-4 {
    margin: 3rem;
}
.m-5 {
    margin: 4rem;
}

/* Padding */
.py-1 { /* pads the margin */
    padding: 1rem 0; /* rem = css unit that multiplier of root element font size; default 16 px = 1 rem*/ 
}
.py-2 {
    padding: 1.5rem 0;
}
.py-3 {
    padding: 2rem 0;
}
.py-4 {
    padding: 3rem 0;
}
.py-5 {
    padding: 4rem 0;
}

.p-1 { /* pads the margin */
    padding: 1rem 0; /* rem = css unit that multiplier of root element font size; default 16 px = 1 rem*/ 
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 3rem;
}
.p-5 {
    padding: 4rem;
}
